* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size:70px ;
  color: #0080ff

}
body{
  background-image: url("https://media.giphy.com/media/4H3Ii5eLChYul9p7NL/giphy.gif");
 background-repeat: repeat-x;
}
