* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: sans-serif
}

h1{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  opacity: 1;
  margin-top: 300px;
  justify-content: center;
  text-align: center;
  font-weight: bold;

  font-size:60px ;
   color: #B19CD9;






}
 body {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

section#home{

  background-image: url("./ASSETS/pittsburgh.png");
  height: 100vh;

}




nav.top-nav ul {
  position: fixed;
  /* position: absolute; works if you want it at the top */
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0 ;
  /* padding: 0; */
  padding-left: 10vw;

  background-color: #B19CD9;
  opacity: 1;
  z-index: 2;
}


li {
  float: left;

}

li a {

  font-size:20px ;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  padding-right: 7.2vw; /*HI!!! Comeback and fix scaling HERE*/
  padding-left: 7.2vw;

  text-decoration: none;
  color: 	#4B0082;


}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #FFE1FF;
}

/*Box with major info on homepage*/
div.university {
  z-index: 1;
  margin: auto;
  width: 700px;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid black;
  opacity: 0.75;


}

div.university p {
  margin: 1%;
  font-weight: bold;
  color: #000000;


}

img { /*Style for Alexa image*/
  border-radius: 10%;
  padding: 5px;
  width: 120px;
  position: auto;
  background-color: rgba(255, 255, 255, 1);
  margin-top: -15px;


}

div.aboutme {
  margin: auto;

  width: 500px;

  text-align: center;

  border-radius: 5%;
  padding-top: 30px;

  opacity: 1;
  background-color: rgba(255, 255, 255, 0.63);
  display: flex;

  margin-top: 40px;






}

div.aboutme p {
  margin: 1%;


  color: #000000;

}

section#resume{
  background-image: url("./ASSETS/purple.png");




}
h2{
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  opacity: 1;
  margin-top: 90px;
  margin-left: 15px;

  font-weight: bold;

  font-size:60px ;
   color: #FFE1FF;

}
h3{
  /* text-shadow:
		-1px -1px 0 #FFE1FF,
		1px -1px 0 #FFE1FF,
		-1px 1px 0 #FFE1FF,
		1px 1px 0 #FFE1FF; */
  opacity: 1;


  font-weight: bold;
  text-align: center;
  font-size:40px ;
   color: #4B0082;

}
h4{
  /* text-shadow:
		-1px -1px 0 #301934,
		1px -1px 0 #301934,
		-1px 1px 0 #301934,
		1px 1px 0 #301934; */
  opacity: 1;


  font-weight: bold;
  text-align: center;
  font-size:40px ;
   color: #B19CD9;

}
div.grid {
  width: 50%; height: 50%; float: left; margin-left
}
#education{
  /* background: #B19CD9; */
  background-image: url("./ASSETS/resume.jpg");
  color: #FFE1FF;
  font-size:20px;
  padding-right: 27vw;
   padding-left: 27vw;
   padding-top: 2vh;


}


#experience {
  background: #FFE1FF;
  color: #B19CD9;
  font-size:20px;

  padding-right: 27vw;
   padding-left: 27vw;
   padding-top: 2vh;
    padding-bottom: 5vh;
}
#skills {
  background: #B19CD9;
  color: #FFE1FF;
  font-size:20px;

   padding-top: 2vh;
   padding-bottom: 5vh;
}
#contact {
  background: #FFE1FF;


}
.column {

  float: left;

  width: 20%;
  opacity: 0.4;
  padding-left: 125px

}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.media:hover {
  background-color: #B19CD9;
}




section#projects{
  background-image: url("./ASSETS/purple.png");
  /* height: 100vh; */


}
div.project_text{
  color: #FFE1FF;
  font-size:20px;
  padding-top: 5vh;
  padding-left: 18vw;

}
h5{
  opacity: 1;


  font-weight: bold;
  text-align: center;
  font-size:40px ;
   color: #4B0082;
    padding-right: 20vw;
    padding-bottom: 2vh;

}

h6{
  opacity: 1;


  font-weight: bold;
  text-align: center;
  font-size:40px ;
   color: #4B0082;
    padding-right: 25vw;
    padding-bottom: 5vh;

}

.pages {

  float: left;
  padding-left: 9vw;
  padding-top: 5vh;
  padding-bottom: 5vh;

}


.app:hover {
  background-color: #B19CD9;
}
div.project_text2{
  color: #FFE1FF;
  font-size:20px;
  padding-top: 5vh;
   padding-left: 23vw;
}

.game {

  float: left;
  padding-left: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;

}


/* section#about{
  background-image: url("purple.png");
  height: 100vh; */
/* } */

section#activities{
  background-image: url("./ASSETS/purple.png");
  /* height: 100vh; */
}
.club {

  float: center;
  padding-left: 15vw;
  padding-top: 5vh;
  padding-bottom: 3vh;

}

.club2{

  float: center;
  padding-left: 18vw;
  padding-top: 5vh;
  padding-bottom: 5vh;

}
